<template>
  <div class="sport" :class="{ 'sport-fullscreen': isFullscreen }">
    <nav class="sport-nav">
      <ul class="sport-nav-menu">
        <li
          class="sport-nav-list"
          :class="{ 'sport-nav-list__active': currentProvider === provider.id }"
          v-for="provider in providerList"
          :key="provider.id"
          @click="selectProvider(provider)"
        >
          <img
            class="sport-nav-list-image"
            :src="require(`@/assets/images/logo-${provider.name}.svg`)"
          />
          <div class="sport-nav-list-text">{{ provider.name }}</div>
        </li>
      </ul>

      <div class="sport-nav-options">
        <div class="sport-nav-option">
          <img
            class="sport-nav-option-image"
            src="~@/assets/images/icon-inforule.svg"
          />
          <div class="sport-nav-option-text">规则说明</div>
        </div>
        <div class="sport-nav-option" @click="clickToFullscreen">
          <img
            class="sport-nav-option-image"
            src="~@/assets/images/icon-fullscreen.svg"
          />
          <div class="sport-nav-option-text">全屏显示</div>
        </div>
      </div>
    </nav>
    <main class="sport-main">
      <iframe class="sport-iframe" :src="iframeUrl" frameborder="0"></iframe>
    </main>
  </div>
</template>
<script>
import { Get, Post } from '@/api'
export default {
  data () {
    return {
      isFullscreen: false,
      iframeUrl: '',
      currentProvider: {},
      providerList: [],
      nameData: [
        { name: 'AG体育', providerCode: 'ag' },
        { name: '沙巴体育', providerCode: 'sb' },
        {
          providerCode: 'bbin',
          kind: [
            { name: 'bbin体育', kind_code: 'sport' },
            { name: 'NEW bbin体育', kind_code: 'new_sport' }
          ]
        }
      ]
    }
  },
  watch: {
    isFullscreen (val) {
      if (val) {
        document.documentElement.requestFullscreen()
      } else {
        document.exitFullscreen()
      }
    },
    currentProvider (providerId) {
      this.getGameList(providerId)
    }
  },
  mounted () {
    this.getGameTagProvider()
  },
  methods: {
    getGameTagProvider () {
      Get('/game/tagProvider/5').then(res => {
        const providerList = res.data.result // api結果
        for (let i = 0; i < providerList.length; i++) {
          for (let j = 0; j < providerList[i].kind.length; j++) {
            // 替換名稱
            for (let k = 0; k < this.nameData.length; k++) {
              const nameDataProviderCode = this.nameData[k].providerCode // 第[k]個名稱數據
              const porviderCode = providerList[i].provider_code
              if (nameDataProviderCode === porviderCode) {
                if (nameDataProviderCode !== 'bbin') {
                  providerList[i].kind[j].name = this.nameData[k].name
                }
              }
            }
            this.providerList.push(providerList[i].kind[j])
          }
        }
        this.currentProvider = this.providerList[0].id
      })
    },
    getGameList (gameId) {
      Get(`/game/list/${gameId}`).then(res => {
        this.postGameLoginV2User({
          id: this.currentProvider,
          code: res.data.result[0].code
        })
      })
    },
    postGameLoginV2User ({ id, code }) {
      if (!localStorage.token) return

      Post('/game/loginV2User', {
        data: {
          id,
          code,
          home_url: 'http://salamander.gakkixmasami.com',
          hall_url: 'http://salamander.gakkixmasami.com',
          platform: 1
        },
        isNeedToken: true
      }).then(res => {
        this.iframeUrl = res.data.result.url
      })
    },
    selectProvider (provider) {
      this.currentProvider = provider.id
    },
    clickToFullscreen () {
      this.isFullscreen = !this.isFullscreen
    }
  }
}
</script>
<style lang="scss">
.sport {
  border-radius: 8px;
  max-width: 1366px;
  margin: 0 auto;
  &-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    .sport {
      &-main {
        height: 100%;
      }
      &-iframe {
        max-width: 100%;
      }
    }
  }
  &-nav {
    display: flex;
    justify-content: space-between;

    background-color: #000;
    &-menu,
    &-options {
      display: flex;
      flex-wrap: wrap;
    }
    &-list {
      cursor: pointer;
      height: 80px;
      position: relative;
      width: 200px;
      border-right: 1px solid rgba(#dcdfe6, 0.2);
      text-align: center;
      font-size: 12px;
      opacity: 0.5;
      color: #fff;
      transition: opacity 0.18s;
      &:hover,
      &__active {
        opacity: 1;
      }
      &__active {
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 3px;
          background-color: #fff;
          width: 103px;
        }
      }
      &-image {
        display: block;
        width: 104px;
        min-height: 32px;
        margin: 15px auto 8px auto;
      }
    }

    &-option {
      cursor: pointer;
      font-size: 12px;
      padding: 0 12px;
      opacity: 0.5;
      color: #fff;
      transition: opacity 0.18s;
      &:hover {
        opacity: 1;
      }
      &-image {
        display: block;
        width: 25px;
        height: 25px;
        margin: 15px auto 8px auto;
      }
    }
  }
  &-main {
    height: 900px;
    background: rgba(#000, 0.4);
  }
  &-iframe {
    display: block;
    margin: 0 auto;
    background-color: #eee;
    height: 100%;
    width: 100%;
    max-width: 1000px;
  }
}
</style>
