<template>
  <div id="app">
    <button @click="login">登入aaaaaaaaaaaaa</button>

    <sport-handicap></sport-handicap>
  </div>
</template>

<script>
import SportHandicap from './components/sportHandicap.vue'
import Axios from 'axios'
export default {
  name: 'app',
  components: {
    SportHandicap
  },
  data () {
    return {
      account: 'angelll',
      password: 'qwe123',
      plat_id: 1,
      login_ip: '125.227.199.147',
      domain: 'http://salamander.gakkixmasami.com'
    }
  },
  methods: {
    login () {
      Axios.post('/api/user/login', {
        account: 'angelll',
        password: 'qwe123',
        plat_id: 1,
        login_ip: '125.227.199.147',
        domain: 'http://salamander.gakkixmasami.com'
      }).then(res => {
        localStorage.token = res.data.result.api_token
      })
    }
  }
}
</script>

<style lang="scss">
* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: MicrosoftYaHei;
}
a {
  text-decoration: none;
  color: #fff;
}
#app {
  background-image: url("~@/assets/images/bg.jpg");
  box-sizing: border-box;
  min-height: 1140px;
  padding: 80px;
}
</style>
